.navigation{
	padding: 20px;
	background: black;
}
.navigation ul{
		list-style:none;
		display: flex;
		gap: 20px;
}
.navigation ul li.active{
	border-bottom: 2px solid white;
}
.navigation ul li a {
	text-decoration:none;
	color: #fff;
}

.navigation ul li a:hover {
	border-bottom:2px solid yellow;
}